<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pawan Bora</title>
    </head>
    <body>
        {{>header}}
        <p>Hello</p>
        {{>footer}}
    </body>
</html>